GUEST_HTTP_SERVER_HOST=0.0.0.0
GUEST_HTTP_SERVER_PORT=3800

ADMIN_HTTP_SERVER_HOST=0.0.0.0
ADMIN_HTTP_SERVER_PORT=3850

BUSINESS_HTTP_SERVER_HOST=0.0.0.0
BUSINESS_HTTP_SERVER_PORT=3900

BUSINESS_HTTP_SERVER_ALLOWED_ORIGINS=http://localhost:3000
BUSINESS_HTTP_SERVER_ALLOWED_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS,HEAD
BUSINESS_HTTP_SERVER_ALLOWED_HEADERS=Origin,Content-Type,Accept,Authorization
BUSINESS_HTTP_SERVER_EXPOSE_HEADERS=Content-Length

# replace `localhost` with `pg` if you use docker to run this application
POSTGRES_HOST=localhost

POSTGRES_PORT=5432

POSTGRES_SSL=disable

POSTGRES_USER=share
POSTGRES_PASSWORD=bite
POSTGRES_DB=share-bite
POSTGRES_MIGRATIONS_DIR=migrations

JWT_ACCESS_TOKEN_SECRET_KEY=access-token
JWT_REFRESH_TOKEN_SECRET_KEY=refresh-token

JWT_ACCESS_TOKEN_TTL=5m
JWT_REFRESH_TOKEN_TTL=4320m

APP_NAME=share-bite
APP_STAGE=dev
APP_GRACEFUL_SHUTDOWN_TIMEOUT=15s

BUSINESS_HTTP_CLIENT_BASE_URL=http://localhost:3900

PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@domain.com
PGADMIN_PASSWORD=admin

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB?sslmode=$POSTGRES_SSL
GOOSE_MIGRATION_DIR=./migrations

# Resend API for email sending
# Possible values: resend, fake
EMAIL_SENDER_PROVIDER=fake 
RESEND_API_KEY=YOUR_API_KEY
RESEND_FROM_EMAIL=onboarding@resend.dev

# Auth rate limits
RATE_LIMIT_AUTH_RECOVER_DURATION=10m
RATE_LIMIT_AUTH_RECOVER_REQUESTS=6
