/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

*.out
*.test
coverage.txt
coverage.html

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

.env*
!.env.example

/tmp/

# swagger docs
/docs/api/auth/*
/docs/api/business/*
/docs/api/guest/*

!/docs/api/auth/api.go
!/docs/api/business/api.go
!/docs/api/guest/api.go

# generated api clients
internal/guest/gateway/business/client/
