/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

*.out
*.test
coverage.txt
coverage.html

.idea/
.vscode/
*.swp
*.swo
*.zip

.DS_Store
Thumbs.db

/.agent/

.env*
!.env.example

/tmp/

# swagger docs
/docs/api/

# generated api clients
internal/guest/gateway/business/client/

.agent

frontend/.vite
frontend/node_modules

/aws
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/session-manager-plugin.deb
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

node_modules