/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

*.out
*.test
coverage.txt
coverage.html

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

docs/api/docs.go
docs/api/swagger.json
docs/api/swagger.yaml
/internal/guest/client/business/api/client/     # autogen client

.env*
!.env.example

/tmp/

main