GUEST_API_BASE_URL=http://localhost:3800
TIMEOUT_SECONDS=10

# admin jwt token
AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0NjAxZDU3ZS1mMWU5LTRiMTctODQ3Ni1hNzZlMDFmNGJlOTUiLCJyb2xlIjoiYWRtaW4iLCJzdGF0dXMiOiJhY3Rpd..
